<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{h.helpers.defaultPageTitle}}</title>
        <style>
            .boxCustom{
                background-color: #536;
                margin: 5% auto;
                display: flex;
                flex-direction: column;
                max-width: 1000px;
                height: 480px;
                border-radius: 15px;
                box-shadow: 5px 5px 1.9em #000;
                text-shadow: 5px 5px .1em #000;
            }
        </style>
    </head>
    <body>
        <header>{{> header}}</header>
        {{> menu}}
        <section class="boxCustom"></section>
        <footer>{{> footer}}</footer>
    </body>
</html>