<style>
    *{
        margin: 0;
        padding: 0;
        list-style: none;
        cursor: default;
        text-decoration: none;
        color: #000;
    }

    body{
       background-color: #666;
       color: #FFF;
       text-align: center;
    }
</style>

<h1 class="test">ArseniumGX</h1>
<h3>Developer Back end</h3>